# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_V4_2_LEFT
    def_bool $(shields_list_contains,v4_2_left)

config SHIELD_V4_2_RIGHT
    def_bool $(shields_list_contains,v4_2_right)
