if SHIELD_V4_2_HU_SIMPLE_LEFT

config ZMK_KEYBOARD_NAME
    default "V4_2_HU_SIMP"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_V4_2_HU_SIMPLE_LEFT || SHIELD_V4_2_HU_SIMPLE_RIGHT

config ZMK_SPLIT
    default y

endif
